// 연구보고서 디테일 페이지
/* report_detail_wrap */
.report_detail_wrap {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.report_detail_wrap .report_title {
    font-size: 1.25rem;
    text-align: center;
}
.report_detail_wrap .report_two_btn {
    display: flex;
    gap: 5px;
}
.report_book {
    position: relative;
    width: 100%;
    height: 100%;
}

.report_book .report_book_bg {
    min-height: 50px;
    border-radius: 30px;
    background-color: #8F7D65;
}
.report_book button {
    width: 50px;
    position: absolute;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
}
.report_book button.report_book_next {
    right: 30px;
    background: url('/ic_next_line_black.svg') no-repeat center center;
    background-color: #dbdbdb;
    background-size: 15px;
} 
.report_book button.report_book_prev {
    left: 30px;
    background: url('/ic_prev_line_black.svg') no-repeat center center;
    background-color: #dbdbdb;
    background-size: 15px;
} 


/* report_btn_wrap */
.report_btn_wrap {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.report_btn_wrap .btn_wrap button {
    display: inline-block;
    position: relative;
    align-items: center;
    padding: 10px 35px 10px 20px;
}
.report_btn_wrap .report_two_btn .btn_one::before {
    content: '';
    display: block;
    width: 50px;
    height: 65px;
    background: url('/ic_report_btn1.svg') no-repeat center center;
    background-size: 45px;
} 
.report_btn_wrap .report_two_btn .btn_two::before {
    content: '';
    display: block;
    width: 50px;
    height: 65px;
    background: url('/ic_report_btn2.svg') no-repeat center center;
    background-size: 45px;
} 

// 공통에 넣어야할듯 가운데 정렬일때 버튼 스타일이에요
.btn_wrap.among {
    width: 100%;
    display: flex;
}
.btn_wrap.among button {
    margin: 0 auto;
}




@media screen and (max-width: 768px) {
    .report_detail_wrap {
        gap: 10px;
    }
    .report_two_btn .btn_one::before {
        background-size: 40px;
    }
    .report_two_btn .btn_two::before {
        background-size: 40px;
    }
    .report_detail_wrap .report_two_btn {
        gap: 0;
    }
    .report_book button {
        width: 30px;
        height: 30px;
    }
    .report_book button.report_book_prev {
        background-size: 10px;
    }
    .report_book button.report_book_next {
        background-size: 10px;
    }
    .report_btn_wrap .btn_wrap button {
        padding : 5px 25px 5px 10px;
    }
    .report_btn_wrap .report_two_btn .btn_one::before,
    .report_btn_wrap .report_two_btn .btn_two::before {
        width: 35px;
        height: 40px;
        background-size: 35px;
    }
}