
/* list_wrap */
.list_wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list_wrap .table_wrap {
    width: 100%;
}
.table_wrap table td:nth-child(2) {
    color: #000;
}
.table_wrap table thead tr {
    font-size: .90rem;
}
.table_wrap table thead th, td {
    padding: 15px 20px;
}
.table_wrap table tbody td {
    padding: 20px;
}
.table_wrap table tbody td.title {
    text-align: left;
}
.table_wrap table tbody td.title { /* 셀 레벨에서 오버플로우 차단 */
    overflow: hidden;
}
.table_wrap table tbody td.new{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.table_wrap table tbody td.new::after {
    content: 'N';
    display: block;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 0.70rem;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    background-color: #B9E300;
}
.table_wrap table td.title {
    font-size: 1rem;
}
.table_wrap table td.author, td.date, td.view_count {
    font-size: 0.90rem;
}

@media screen and (max-width: 1550px) {
    #cont_wrap {
        padding: 40px 30px;
    }
}
@media (max-width: 1024px) {
    
    .table_wrap table td:nth-child(1),
    .table_wrap table td:nth-child(5),
    .table_wrap table td:nth-child(6) {
        display: none;
    }

}

@media (max-width: 768px) {

    .table_wrap table tbody tr {
        display: flex;
        flex-wrap: wrap;
    }
    .table_wrap table tbody td:nth-child(2){
        flex-basis: 100%;
        padding: 15px 10px 0 10px;
        font-size: 0.85rem;
    }
    .table_wrap table tbody th:nth-child(3),
    .table_wrap table tbody th:nth-child(4) {
        flex: 1;
    }
    .table_wrap table tbody td {
        padding: 5px 10px 10px 10px;
    }
    .table_wrap table td.author, td.date, td.view_count {
        font-size: 0.80rem;
    }
    .table_wrap table tbody td.new::after {
        display: block;
        width: 15px;
        height: 15px;
        color: #fff;
        font-size: 0.55rem;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
        background-color: #B9E300;
    }

}

@media (max-width: 450px) {

    .table_wrap table tbody td.new::after {
        display: none;
    }

}

