/*nav_page*/


.nav_wrap {
    position: relative;
    width: 100%;
    height: 280px;
}
.nav_wrap .nav_bg_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.nav_wrap .nav_inner {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.nav_content_wrap h3 {
    font-size: 2rem;
    font-weight: 550;
}
.nav_content_wrap p {
    font-size: 1.15rem;
    color: #999;
    font-weight: 550;
}
.nav_content_wrap {
    max-width: 1550px; 
    width: 100%; 
    margin: 0 auto; 
    color: #fff; 
}
.cont_wrap {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
}

.sub_nav {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    line-height: 60px;
}
.sub_nav .sub_nav_wrap {
    max-width: 1550px;
    margin: 0 auto;
    width: 100%;
}

.sub_nav .subhome {
    width: 30px;
    height: 30px;
    border-left: 1px solid #dbdbdb; 
}
.sub_nav .subhome::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background: url('/ic_nav_home.svg') no-repeat center center;
}




@media (max-width: 1500px) {
    .nav_content_wrap {
        padding: 0 20px;
    }
}