/*logo*/
#logo {
    width: 130px;
    height: 50px;

    &.black a {
        background: url('/logo_black.svg') no-repeat center center;
        background-size: contain;
        display: block;
        width: 100%;
        height: 100%;
    }
}

#footer {
    position: relative;
    border-top: 1px solid #999;
    background-color: #fff;
    width: 100%;
}
#footer .footer_wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;

    .section {
        width: 1550px;
        margin: 0 auto;
        padding: 2.5rem 0;
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 30px;
        align-items: center;

        .footer_info {
            display: flex;
            flex-direction: column;
        }
        p.copyright {
            font-size: 0.85rem;
        }
        .footer_sns {
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-left: auto;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            ul > li {
                width: 40px;
                height: 40px;
            }
            ul > li > a {
                display: block;
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            /* 올바른 파일명으로 매핑 (public 폴더 자원 기준) */
            ul > li:nth-child(1) > a { background-image: url('/ic_facebool.svg'); }
            ul > li:nth-child(2) > a { background-image: url('/ic_instagram.svg'); }
            ul > li:nth-child(3) > a { background-image: url('/ic_youtube.svg'); }
        }
    }

}