

@import url('https://fonts.cdnfonts.com/css/ds-digital');

#climateclock {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 60px;

    .climateclock_inner {
        position: relative;
        width: 1550px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 0 auto;

		.earth3d {
            width: 28px;
        }   

        .climateclock_text {
            font-weight: 400;
            color: #fff;
            font-size: 1rem;
            
            .highlight {
                font-weight: 550;
            }
        }

        .clock_inner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .year, .month, .hour {
                padding: 0 20px;
                background-color: #F2082F;
                color: #fff;
                border-radius: 3px;
            }
            .year_num, .day_num, .hour_num {
                font-size: 1.65rem;
                font-weight: 600;
                color: #fff;
                font-family: 'DS-Digital', sans-serif;
            }
            .year_text, .day_text, .hour_text {
                margin-left: 5px;
                font-size: 0.85rem;
            }
            .temperature {
                padding: 0 20px;
                background-color: #fff;
                border-radius: 3px;
                display: flex;
                align-items: center;

                .temperature_num {
                    color: #F2082F;
                    font-size: 1.65rem;
                    font-weight: 550;
                    font-family: 'DS-Digital', sans-serif;
                }
                .txt_black {
                    margin-left: 5px;
                    font-size: 0.85rem;
                }
            }
        }
    }

}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;

    .header_wrap {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
    }
}
#header:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 10rem;
}
#logo {
    width: 150px;
    height: 50px;
}
#logo a {
    background: url('/logo_black.svg') no-repeat center center;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
}
#menu_inner {
    position: relative;
    width: 1550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    .btn_hamburger {
        display: block;
        position: relative;
    }
    .btn_hamburger a {
        display: block;
        position: relative;
        width: 25px;
        height: 25px;
    }
    .btn_hamburger a::before {
        content: '';
        width: 23px;
        height: 4px;
        border-radius: 10px;
        background: #000;
        top: 10px;
        left: 13px;
        position: absolute;
        transition: all .2s;
    }
    .btn_hamburger a::after {
        content: '';
        box-shadow: 0 20px 0 #000;
        border-radius: 10px;
        border-top: 4px solid #000;
        width: 30px;
        height: 4px;
        left: 6px;
        position: absolute;
        transition: all .2s;
    }
    .btn_hamburger a::hover:before {
        width: 30px;
    }
    .btn_hamburger a::hover:after {
        width: 23px;
    }
}
#gnb1 {
    display: flex;
    flex: 1 0;
    flex-basis: 0;
    flex-direction: row;
}
#gnb1 > ul {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#gnb1 > ul > li {
    display: table-cell;
    text-align: center;
    position: relative;
}
#gnb1 > ul > li > a {
    color: #000;
    display: block;
    position: relative;
    line-height: 3.2;
}
#gnb1 > ul > li > .submenu {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    width: 100%;
}
#gnb2 {
    display: none;
}
