/* preparing page */

.preparing_box {
	position: relative;
	width: 100%;
	min-height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.preparing_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	text-align: center;
}
.preparing_img {
	width: min(70vw, 350px);
	height: auto;
	object-fit: contain;
}
.preparing_text .title {
	font-size: 1.25rem;
	font-weight: 700;
}
.preparing_text .desc {
	font-size: 1rem;
	color: #666;
}

@media (min-width: 768px) {
	.preparing_box { min-height: 50vh; }
}


