/* ordinancepage_wrap */

.ordinancepage_wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
}

.doc_list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.doc_card {
    width: 100%;
    border: 2px solid #B9E300;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.doc_card .doc_header {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.doc_header h3 {
    position: relative;
    font-size: 1.25rem;
    font-weight: 700;
}
.doc_header .doc_icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    background-color: #e9eefc;
}
.doc_header .doc_icon:after {
    content: '';
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: url('/ic_earth_hand.svg') no-repeat center center;
    background-size: contain;
}
.doc_header::before {
    content: '';
    width: calc(100% - 40px);
    height: 1px;
    bottom: 0;
    left: 20px;
    position: absolute;
    background-color: #dbdbdb;
}
.doc_card .doc_body {
    padding: 20px 20px 10px 20px;
}
.doc_card .doc_body p {
    line-height: 1.5;
    font-size: 0.85rem;
}
.doc_card .doc_button a {
    display: flex;
    padding: 0 20px 20px 20px;
}
.doc_card .doc_button a button {
    position: relative;
    margin-left: auto;
    font-size: 0.85rem;
}